<h3 class="display-4">Skills</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-2">
      <h5>Languages</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Java</li>
        <li class="list-group-item">Scala</li>
        <li class="list-group-item">Go</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">JavaScript</li>
        <li class="list-group-item">SQL</li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-2">
      <h5>Frameworks/Platforms</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Angular</li>
        <li class="list-group-item">Ansible</li>
        <li class="list-group-item">Akka</li>
        <li class="list-group-item">Kafka</li>
        <li class="list-group-item">OpenAm</li>
        <li class="list-group-item">Play Framework</li>
        <li class="list-group-item">Slick</li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-2">
      <h5>Other</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Project Management</li>
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">Git</li>
        <li class="list-group-item">UNIX</li>
        <li class="list-group-item">AJAX</li>
        <li class="list-group-item">Fluent in English and Spanish</li>
      </ul>
    </div>
  </div>
</div>
