<h3 class="display-4">Home</h3>

<div class="container-fluid">

  <div class="row">
    <h4 class="mb-3">About me...</h4>
    <p class="lead mb-2">I am an enthusiastic Computer Science professional with over five years of project management experience.</p>
    <br>
    <p class="lead mb-0">Currently working as a Lead Software Engineer, utilizing Java, Scala, Go, Angular, Python, Docker,
      among others within a DevOps environment.</p>
  </div>

  <br><br>
  <div class="row">
    <div class="col-lg-4 col-md-2 lead mb-0">
      <fa-icon [icon]="faMail" class="me-2"></fa-icon> <b>Email:</b> r.tobo@me.com
    </div>
    <div class="col-lg-4 col-md-2 lead mb-0">
      <fa-icon [icon]="faMap" class="me-2"></fa-icon> <b>Location:</b> Miami, Fl, USA
    </div>
    <div class="col-lg-4 col-md-2 lead mb-0">
      <fa-icon [icon]="faWork" class="me-2"></fa-icon> <b>Freelance:</b> Currently Unavailable
    </div>
  </div>

</div>


